body {
  background: url(../imgs/background2.jpg);
  background-size: cover;
  margin: auto;
  height: 100vh;
}

section {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 20px 0 0 0;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

.timer {
  height: 50px;
  width: 100px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  background-color: black;
  border-style: solid;
  border-width: thick;
  border-radius: 10%;
  border-color: red;
}

.card-container {
  margin: auto;
  padding: 30px;
  max-width: fit-content;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  border-style: solid;
  border-width: thick;
  border-radius: 10%;
}

.card-item {
  margin: auto;
  height: 125px;
  width: 125px;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flipped {
  height: 125px;
  width: 125px;
  transform: rotateY(180deg);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.btn {
  margin: auto;
}

button {
  height: 3rem;
  width: 6rem;
  margin: 2vmin;
  font-weight: 900;
  font-size: 14px;
  background-color: red;
  color: white;
  border-radius: 4vmin;
  border-style: solid;
  border-color: black;
}

.start {
  background-color: lightseagreen;
}

button:hover {
  background-color: seashell;
  color: black;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 1000px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }

  .timer {
    height: 25px;
    width: 50px;
    margin-left: 10px;
    font-size: 16px;
  }

  .card-container {
    background: url(./imgs/container2.jpeg);
    max-width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
  }

  .card-item {
    height: 50px;
    width: 50px;
    padding: 10px;
    display: flex;
    justify-self: center;
    border-width: medium;
  }

  .flipped {
    height: 50px;
    width: 50px;
    padding: 10px;
    display: flex;
    justify-self: center;
    border-width: medium;
  }
}
